<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Tasks</title>
    <style>
        header, .tabs{
            padding: 8px;
            /*border-radius: 20px;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);*/
            width: 50%;
            margin: 25px auto;
            font-family: sans-serif;
        }
        header p{
            padding: 0 15px;
        }       
        .header{
            padding: .3rem;
            /*border: 1px solid yellowgreen;*/
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 10px 0;
        }
        .dot-menu-icon{
            pointer-events: none;
            /*display: block;*/
            height: 50%;
            width: 50%;
            color: gray;
        }
        .header span{
            padding: 5px 20px;
        }
        /*.header span:not(:last-of-type){
            border-right: 1px solid #777;
        }*/
    </style>
</head>
<body>
    <header style="display: flex;align-items: center;justify-content: center;">
        <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" style="pointer-events: none; width: 5%; height: 5%;fill: #445793;">
            <g>
                <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
            </g>
        </svg>
        <span style="margin-left: 10px;"><%= name + ' | ' + room + ' ' + arm %></span>
    </header>

    <div class="tabs" style="display: flex;flex-direction: column;">
        <div style="padding:8px;margin:20px 0;border-bottom:1px solid #ccc;">Activities</div>
        <%# if(result) then forEach else display no activity%>
        <% result.forEach((obj, ind) => { %>
            <% const date = new Date(obj.createdAt); %>
            <% const options = { year: 'numeric', month: 'long', day: 'numeric' }; %>
            <% const formattedDate = new Intl.DateTimeFormat('en-US', options).format(date); %>

            <div class="header">
                <span style="width: 150px;"><%= formattedDate %></span>|
                <span style="width: 60px;text-align: center;"><%= obj.activity %></span>|
                <span style="flex: 2" ><%= obj.originalName.slice(0, obj.originalName.lastIndexOf('.')) %></span>
                <a href="<%= '/file/' + obj.id %>" download>
                    <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 24 24" fill="none">
                        <path d="M12 7L12 14M12 14L15 11M12 14L9 11" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M16 17H12H8" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
                        <path d="M22 12C22 16.714 22 19.0711 20.5355 20.5355C19.0711 22 16.714 22 12 22C7.28595 22 4.92893 22 3.46447 20.5355C2 19.0711 2 16.714 2 12C2 7.28595 2 4.92893 3.46447 3.46447C4.92893 2 7.28595 2 12 2C16.714 2 19.0711 2 20.5355 3.46447C21.5093 4.43821 21.8356 5.80655 21.9449 8" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
                    </svg>
                </a>
            </div>
        <% }) %>
    </div>
    
</body>
</html>